*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --cell-size: 120px;
    --mark-size: calc(var(--cell-size) * 1);
}

body {
    margin: 0;
    background-color: darkgoldenrod;
}

.board {
    width: 100vw;
    height: 100vh;
    display: grid;    
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(5, auto);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3),
.cell:nth-child(4),
.cell:nth-child(5) {
    border-top: none;
}

.cell:nth-child(5n + 1) {
    border-left: none;
}

.cell:nth-child(5n + 5) {
    border-right: none;
}

.cell:nth-child(25),
.cell:nth-child(24),
.cell:nth-child(23),
.cell:nth-child(22),
.cell:nth-child(21) {
    border-bottom: none;
}

.cell.x,
.cell.circle {
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after {
    background-color: aquamarine;
}

.cell.circle::before {
    background-color: turquoise;
}







.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
    background-color: lightblue;
}

.cell.x::before, 
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before, 
.board.x .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
}

.cell.x::after, 
.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
}

.cell.circle::before, 
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    border-radius: 0px 30% 30% 0px;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);   
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);   
    background-color: white;  
}

.winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(246, 250, 1, 0.5);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4rem;
    flex-direction: column; 
}

.winning-message :hover {
    color: hotpink;
}

.square {
    background-color: lightgreen;
    font-size: 5rem;
    padding: 1px;
    border: 5px solid indigo;
    color: darkblue;
}



.square:hover {
    color: darkgoldenrod;
    background-color: yellow;
    border: 5px solid royalblue;
}

.rectangle {
    width: 350px;
    height: 100px;
    background-color: deepskyblue;
    color: gold;
    border: 5px solid lightgreen;
    font-size: 5rem;
    padding: 1px;
}

.rectangle:hover{
    background-color: indianred;
    color: lemonchiffon;
    border: 5px solid lightgoldenrodyellow;
}

#showGameButton {
    height: 100px;
    width: 350px;
    font-size: 3rem;
    color: sandybrown;
    background-color: silver;
    border: 5px solid yellowgreen;
}

#showGameButton:hover {
    color: thistle;
    border: 5px solid rgb(55, 0, 255);
    background-color: rgb(241, 157, 0);
}

#takeOverButton {
    display: none;
    color: rgb(255, 146, 103);
    border: 5px solid springgreen;
    background-color: steelblue;
    font-size: 3rem;
    height: 100px;
    width: 350px;
}

#takeOverButton.show {
    display: block;
}

#takeOverButton:hover {
    color: lavender;
    background-color: crimson;
    border: 5px solid sienna;
}

#mainMenuButton {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100px;
    width: 450px;
    color: black;
    background-color: white;
    border: 5px solid black;
    font-size: 5rem;
}

#mainMenuButton:hover {
    color: white;
    background-color: black;
    border: 5px solid white;
}

#undoButton {
    display: none;
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100px;
    width: 450px;
    color: black;
    background-color: white;
    border: 5px solid black;
    font-size: 5rem;
}

#undoButton:hover {
    color: white;
    background-color: black;
    border: 5px solid white;
}

#undoButton.show {
    display: block;
}

.winning-message button {
    color: lightcoral;
    font-size: 5rem;
    background-color: greenyellow;
    border: 5px solid green;
    padding: 1px;
    cursor: pointer; 
    width: 350px;
    height: 100px;
} 

.winning-message button:hover {
    background-color: rgb(161, 73, 73);
    color: greenyellow;
    border: 5px solid  green;

}

.winning-message.show {
    display: flex;
}

#restartButton {
    display: none;
}

#restartButton.show {
    display: block;
}